#nome{
    font-family:sans-serif;
}

#descricao{
    font-family: monospace;
    font-size: 1.5em;
    text-align: justify;
}

.habilidades{
    font-size: 1.25em;
}

body{
    background-color: rgb(32, 44, 57);
    color: rgb(242, 149, 89);
}

a{
    color: rgb(242, 149, 89);
}
h1,h2,h3{
    color:rgb(184, 176, 141) ;
}
strong{
    font-style: italic;
    color: rgb(242, 212, 146);
}