#menu{
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 95%;
    margin: auto;
    border-radius: 5px;
}

#listaMenu{
    list-style: none;
}
#listaMenu li{
    padding-right: 25px;
    float: right;
}

ul{
    display: inline;
}

a{
    text-decoration: none;
}

#menu{
    background-color:rgb(40, 56, 69);
}

#nome{
    font-family:sans-serif;
}

#descricao{
    font-family: monospace;
    font-size: 1.5em;
    text-align: justify;
}

.habilidades{
    font-size: 1.25em;
}

body{
    background-color: rgb(32, 44, 57);
    color: rgb(242, 149, 89);
}

a{
    color: rgb(242, 149, 89);
}
h1,h2,h3{
    color:rgb(184, 176, 141) ;
}
strong{
    font-style: italic;
    color: rgb(242, 212, 146);
}